<script type="text/javascript">

          $('#update').click(function() {
            var itemId = $(this).data('item_id');
            var currentValue = parseInt($(`#id_qty_${itemId}`).val());
            console.log(currentValue)
            if(isNaN(currentValue)) {
              alert("Please Enter Quantity")
            }            
        });

    // Increment quantity 
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       if (currentValue <= 98) {
         $(closestInput).val(currentValue + 1);
       }
           
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       if (currentValue >= 2) {
         $(closestInput).val(currentValue - 1);
       }
    });
    
</script>
